{% extends 'base.html.twig' %}

{% block title %}Le site de l'école{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Bienvenu sur le site de l'école</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae quaerat voluptas quidem, amet doloremque inventore provident dolor impedit voluptatum incidunt corrupti odit nostrum dolore? Aspernatur quis fugit adipisci? Sed, architecto!
                  Culpa laboriosam dignissimos numquam temporibus hic id consequuntur expedita beatae deleniti sequi? Est, reprehenderit aliquid! Veritatis tempora dignissimos qui quis ipsam necessitatibus nobis, commodi aliquam, id in earum repellendus tempore.
                  Fuga neque optio molestiae dolorem nemo voluptates illum nam suscipit, eos consequuntur totam blanditiis id ex rem cum? Libero laboriosam necessitatibus neque quo suscipit et nostrum ratione saepe, porro doloremque.
                  Qui pariatur rem at dicta iste nobis nemo ipsum deserunt cumque tempora veniam quidem, aut, consectetur fuga ipsa quia ut dolores blanditiis ullam dignissimos animi officia. Quia expedita magnam amet.
              </p>
              <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente quam quo ratione numquam commodi, delectus deserunt nesciunt tempora laborum dolorum, error omnis quaerat provident debitis deleniti. Pariatur optio culpa nihil.
                  Numquam, voluptate quis facere tempore id, corrupti possimus error nobis odio dolor, fugit sapiente nostrum unde aut eum accusantium. Voluptatibus et eos dolor eius repudiandae earum illum nulla minima consequuntur!
                  Repudiandae adipisci dolorum ipsam itaque dolor magnam possimus fugiat, velit, fuga perferendis nam dignissimos facere numquam nemo aperiam veniam eum quaerat eos. Pariatur excepturi reprehenderit at a quibusdam non vitae!
                  Consequatur dolore commodi magni quis doloribus modi consequuntur velit quisquam optio tempora. Accusantium natus maxime harum. Ipsam repudiandae dignissimos nam doloremque reprehenderit totam doloribus deserunt earum unde veniam! Perspiciatis, sapiente.
                  Officia molestiae laboriosam recusandae temporibus voluptatem tempore vitae magnam, totam dolorem architecto nobis quisquam corrupti nisi. Minima deleniti doloribus quibusdam! Velit eum ducimus qui ad ipsum quos dignissimos, et voluptas.
              </p>
          </div>
          <div class="col-lg-12">
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet impedit consectetur laboriosam, sequi ducimus excepturi quasi sunt dolores incidunt similique labore reiciendis est temporibus ratione reprehenderit ipsum modi vero? Laudantium.
                  Voluptate cum dolores necessitatibus numquam reprehenderit laborum aspernatur corrupti sapiente maiores saepe id vel cumque quam exercitationem dolore est, non culpa voluptas odio neque. Assumenda omnis officia voluptatibus placeat libero?
                  Pariatur delectus nostrum quidem ad doloremque similique repellendus, tempora aliquid aperiam tempore voluptate necessitatibus culpa maxime provident sed atque in facilis voluptatem excepturi maiores. Deserunt reiciendis asperiores voluptate cupiditate recusandae?
                  Numquam ipsa magnam cupiditate qui rem, dicta explicabo odit atque deserunt veritatis aliquid possimus velit animi expedita, soluta vitae, incidunt neque ipsam et aliquam consequuntur pariatur hic molestiae maxime. Autem?
                  Quo, laborum itaque facere quia maxime quam rem odio a labore, blanditiis delectus assumenda placeat aut accusantium facilis dolorum nisi nam adipisci corrupti soluta? Alias possimus velit vitae dicta architecto.
              </p>
          </div>
      </div>
  </div>
{% endblock %}
