{% extends 'base.html.twig' %}

{% block title %}Règlement intérieur{% endblock %}

{% block body %}

    <h1 class="text-center">Règlement intérieur</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg mt-5">
                <h2>Règle numéro 1: il n'y a pas de règle nous sommes une école d'anarchiste</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora accusamus, quo ipsum voluptate enim perspiciatis repellat veritatis exercitationem, magni at culpa earum aliquam neque. Commodi fugiat debitis laboriosam tempore quisquam!
                    Deleniti, excepturi nulla nisi facere possimus porro velit numquam dignissimos assumenda fuga? Voluptate tenetur, hic fugiat odit impedit voluptates accusamus. Consectetur, sequi harum eveniet quae molestias molestiae ut quaerat distinctio.
                    Quod autem explicabo nobis ducimus optio soluta adipisci placeat dignissimos voluptas nostrum earum, officia enim eos voluptate in nisi doloribus, non omnis minima nulla vero unde minus! Perferendis, molestiae iste!
                    Nam, cum quasi laudantium unde beatae hic! Corrupti, dicta id, nobis distinctio sapiente aliquid consectetur nesciunt asperiores amet velit, vero possimus ad nihil autem nostrum vitae libero fugiat. Similique, impedit!
                    Placeat labore maxime quas neque alias quibusdam cupiditate illo inventore ipsum consequuntur repudiandae asperiores minima, est laborum! Blanditiis repudiandae at architecto sed natus iusto vero quae! Atque molestias officia id.
                </p>
            </div>
    </div>
{% endblock %}